@font-face {
   font-family: "Be Vietnam Pro Medium";
   src: url("fonts/Be Vietnam Pro Medium.woff") format("woff"), url("fonts/Be Vietnam Pro Medium.eot") format("embedded-opentype"), url("fonts/Be Vietnam Pro Medium.ttf") format("truetype"), url("fonts/Be Vietnam Pro Medium.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}